.fit-cover {
  object-fit: cover;
}

section {
  margin-top: 100px;
}

form {
}

@media (min-width: 1400px) {
  form {
    width: 30%;
  }
}

@media (max-width: 1200px) {
  form {
    width: 30%;
  }
}

@media (max-width: 992px) {
  form {
    width: 30%;
  }
}

@media (max-width: 768px) {
  form {
    width: 50%;
  }
}

@media (max-width: 576px) {
  form {
    width: 80%;
  }
}

@media (max-width: 300px) {
  form {
    width: 80%;
  }
}

Try adding this to your CSS html, body {
  max-width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4fc7f5;
}

::-webkit-scrollbar-thumb:hover {
  background: #4598FF;
}

